{# src/Edu/FormaBundle/Resources/views/layout.html.twig #}

{% extends "EduCoreBundle::layout.html.twig" %}

{% block title %}
    Formations - {{ parent() }}
{% endblock %}

{% block body %}

    {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
    {#<h1>Formations</h1>#}

    {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
    {% block eduforma_body %}
    {% endblock %}

{% endblock %}