{# src/Edu/FormaBundle/Resources/views/Advert/add.html.twig #}

{% extends "EduFormaBundle::layout.html.twig" %}

{% block title %}
    Ajouter une formation - {{ parent() }}
{% endblock %}

{% block eduforma_body %}

    <h2>Proposer une formation</h2>

    {{ include("EduFormaBundle:Advert:form.html.twig") }}

    <p>
        Attention : cette formation sera ajoutée directement
        sur la page d'accueil après validation du formulaire.
    </p>

{% endblock %}