{# src/Edu/FormaBundle/Resources/views/layout.html.twig #}

{% extends "EduCoreBundle::layout.html.twig" %}

{% block title %}
    Devenir auteur
{% endblock %}

{% block body %}
    <br>
    <pre>Qui peut &ecirc;tre auteur ?<br />Pour &ecirc;tre auteur, vous devez disposer d&rsquo;une expertise technique sur un sujet.<br />Vous n&rsquo;&ecirc;tes pas n&eacute;cessairement le seul dan l&rsquo;entreprise, mais vous avez la comp&eacute;tence sur le sujet<br />et l&rsquo;exp&eacute;rience de son application en univers professionnel.<br /><br />Que fait un auteur ?<br />L&rsquo;auteur a le choix entre deux modes de fonctionnement :<br />- l&rsquo;&eacute;criture d&rsquo;un contenu qui permet &agrave; tous les apprenants de fonctionner de fa&ccedil;on autonome<br />- le coaching d&rsquo;apprenants, en r&eacute;pondant &agrave; leurs questions par mail, chat, t&eacute;l&eacute;phone ou directement.<br />Le coaching peut exister seul au d&eacute;but, toutefois si le sujet s&rsquo;av&egrave;re int&eacute;resser plusieurs personnes,<br />il devient tr&egrave;s utile de passer au contenu.<br /><br />Pourquoi &ecirc;tre auteur ?<br />Pour partager votre expertise, votre exp&eacute;rience et vos savoir-faire avec d&rsquo;autres,<br />plus jeunes ou nouvellement promus dans votre activit&eacute;.<br /><br />En pratique&hellip;<br />Vous d&eacute;cidez de vos sujets, du temps de coaching disponible, en accord avec votre manager.<br />La plateforme s&rsquo;occupe du reste et garantit le respect de vos d&eacute;cisions.</pre>
    <form action="{{ path('edu_core_beauthor') }}" method="post">
        <a href="{{ path('edu_core_homepage')}}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à l'accueil
        </a>
        <input type="submit" value="Confirmer"/>
        {# Ceci va générer le champ CSRF #}
        {{ form_rest(form) }}
    </form>
{% endblock %}