{% extends "EduFormaBundle::layout.html.twig" %}

{% block title %}
    Contact - {{ parent() }}
{% endblock %}

{% block eduforma_body %}
    <br>
    <div class="titreBas">CONTACT</div>
    <p><br /> <a href="http://www.edufactory.com"><strong>EDUFACTORY</strong></a>
    <br /> <br /> 192 avenue Charles de Gaulle 92200 Neuilly-sur-Seine<br />
    <br /> 313 B avenue Marcel Meyrieux<br /> 69530 Brignais<br />
    <br /> <img title="T&eacute;l&eacute;phone" src="http://www.edufactory.com/images/icone-telephone.png" alt="T&eacute;l&eacute;phone" width="16" height="16" align="absmiddle" /> +33 (0)4 26 02 28 85<br /> <img title="Nous contacter" src="http://www.edufactory.com/images/icone-courrier.png" alt="Nous contacter" width="16" height="16" align="absmiddle" /><a class="bas" href="http://www.edufactory.com/contact.php"> Nous contacter</a></p>
{% endblock %}