{# src/Edu/FormaBundle/Resources/views/demo1.html.twig #}

{% extends "EduCoreBundle::layout.html.twig" %}

{% block body %}
    <img src="http://www.semantis.fr/wp-content/uploads/2014/05/blog-world1.jpg">
    <h2>Apprenez à creer un blog</h2>
    {{ "\n\n"|nl2br }}
    <p>Bonjour,

        vous avez envie de concevoir un blog mais vous ne savez pas par où commencer ?
        ce tutoriel est fait pour vous.
        Premierement il faut choisir une plateforme pour choisir ou creer votre blog,
        je ne vous impose pas ce choix.
        Pour ce tutoriel je vous propose la plateforme blogger, pour commencer rendez vous sur leur site
        et cliquer sur creer blog, ensuite renseigner vos informations et voila le blog est creer !
        Voici une petite video pour vous guidez pendant l'avancement de la creation !
        <iframe width="560" height="315" src="https://www.youtube.com/embed/uj7QbHw0HYQ" frameborder="0" allowfullscreen></iframe>
    </p>
    {{ "\n\n\n"|nl2br }}
    <h5>Le sujet necessite une validation interne par le formateur veuillez envoyer votre blog à l'adresse :</h5>
    <h4>formateur@edufactory.com</h4>
{% endblock %}