{# src/Edu/FormaBundle/Resources/views/myformation.html.twig #}

{% extends "EduCoreBundle::layout.html.twig" %}

{% block body %}
    <h1>Mes formations en cours</h1>
    <li><a href="{{ path('edu_core_demo1') }}">Apprenez à vous servir de l'imprimante</a></li>
    <li><a href="{{ path('edu_core_demo2') }}">Apprenez à creer un blog</a></li>
{% endblock %}